{% comment %}
ATB-SCHEMA{
  "name": "Subscribe form",
  "id": "index-section-subscribe",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "class": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "select",
      "id": "atb_top_offset",
      "label": "Top Offset",
      "default": "normal",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_fullwidth",
      "label": "Fullwidth size",
      "default": false,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_lgsize",
      "min": 4,
      "max": 12,
      "step": 1,
      "label": "Big column size for screen > 1024px",
      "default": 8,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_mdsize",
      "min": 4,
      "max": 12,
      "step": 1,
      "label": "Medium column size for screen > 791px",
      "default": 10,
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_allinleft",
      "label": "All in left",
      "default": false,
      "info": ""
    },
    {
      "type": "header",
      "content": "Content",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_text1",
      "label": "Text 1",
      "default": "KEEP IN TOUCH",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_text2",
      "label": "Text 2",
      "default": "Enjoy 15% off your first order when you join our mailing list.",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_subfplholder",
      "label": "Input field text",
      "default": "Enter your e-mail",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_subfbtext",
      "label": "Button name",
      "default": "JOIN US",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_text3",
      "label": "Text 3",
      "default": "By clicking the button you agree to the <a href=\"#\">Privacy Policy</a> and <a href=\"#\">Terms and Conditions</a>",
      "info": ""
    },
    {
      "type": "header",
      "content": "Desktop texts size",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_fontsizetext1",
      "min": 14,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size text 1",
      "default": 34,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_lineheighttext1",
      "min": 14,
      "max": 101,
      "step": 1,
      "unit": "px",
      "label": "Line height text 1",
      "default": 41,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_fontweighttext1",
      "min": 300,
      "max": 900,
      "step": 100,
      "label": "Font weight text 1",
      "default": 500,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_text2offset",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Text 2 top offset",
      "default": 10,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_fontsizetext2",
      "min": 14,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size text 2",
      "default": 18,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_lineheighttext2",
      "min": 14,
      "max": 101,
      "step": 1,
      "unit": "px",
      "label": "Line height text 2",
      "default": 22,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_fontweighttext2",
      "min": 300,
      "max": 900,
      "step": 100,
      "label": "Font weight text 2",
      "default": 300,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_formoffset",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Form top offset",
      "default": 34,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_text3offset",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Text 3 top offset",
      "default": 30,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_fontsizetext3",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size text 3",
      "default": 14,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_lineheighttext3",
      "min": 14,
      "max": 101,
      "step": 1,
      "unit": "px",
      "label": "Line height text 3",
      "default": 22,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_fontweighttext3",
      "min": 300,
      "max": 900,
      "step": 100,
      "label": "Font weight text 3",
      "default": 300,
      "info": ""
    },
    {
      "type": "header",
      "content": "Mobile texts size",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_fontsizetext1_mobile",
      "min": 14,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size text 1 mobile",
      "default": 31,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_lineheighttext1_mobile",
      "min": 14,
      "max": 101,
      "step": 1,
      "unit": "px",
      "label": "Line height text 1 mobile",
      "default": 38,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_text2offset_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Text 2 top offset mobile",
      "default": 10,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_fontsizetext2_mobile",
      "min": 14,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size text 2 mobile",
      "default": 18,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_lineheighttext2_mobile",
      "min": 14,
      "max": 101,
      "step": 1,
      "unit": "px",
      "label": "Line height text 2 mobile",
      "default": 22,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_formoffset_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Form top offset mobile",
      "default": 34,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_text3offset_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Text 3 top offset mobile",
      "default": 30,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_fontsizetext3_mobile",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size text 3 mobile",
      "default": 14,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_lineheighttext3_mobile",
      "min": 14,
      "max": 101,
      "step": 1,
      "unit": "px",
      "label": "Line height text 3 mobile",
      "default": 22,
      "info": ""
    },
    {
      "type": "header",
      "content": "Texts color",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_colortext1",
      "label": "Text 1 color",
      "default": "#191919",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_colortext2",
      "label": "Text 2 color",
      "default": "#777777",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_colortext3",
      "label": "Text 3 color",
      "default": "#777777",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_colorlink",
      "label": "Links color",
      "default": "#2879FE",
      "info": ""
    },
    {
      "type": "header",
      "content": "Form colors",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_bg_form",
      "label": "Input background color",
      "default": "#ffffff",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_bg_form_bo",
      "label": "Input border color",
      "default": "#e9e7e7",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_bg_form_bo_s",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border width",
      "default": 1,
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_bg_form_text",
      "label": "Input text color",
      "default": "#777777",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_bg_forma",
      "label": "ACTIVE. Input background color",
      "default": "#ffffff",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_bg_form_boa",
      "label": "ACTIVE. Input border color",
      "default": "#2879fe",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_bg_form_bo_sa",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "ACTIVE. Border width",
      "default": 1,
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_bg_form_texta",
      "label": "ACTIVE. Input text color",
      "default": "#777777",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_bg_color",
      "label": "Button background color",
      "default": "#2879fe",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_cbtntext",
      "label": "Button text color",
      "default": "#ffffff",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_bg_color_a",
      "label": "Button background active color",
      "default": "#191919",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_cbtntext_a",
      "label": "Button text active color",
      "default": "#ffffff",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_btn_custom_styles",
      "label": "Button custom styles",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_btn_custom_styles_hover",
      "label": "HOVER. Button custom styles",
      "info": ""
    },
    {
      "type": "header",
      "content": "Background color",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_usebgcolor",
      "label": "Use background color",
      "default": false,
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_bgco",
      "label": "Background color",
      "default": "#ffffff",
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_bgdepad",
      "label": "Vertical top padding desktop",
      "default": "80",
      "info": "integer, in px"
    },
    {
      "type": "text",
      "id": "atb_bgdepad_2",
      "label": "Vertical bottom padding desktop",
      "default": "80",
      "info": "integer, in px"
    },
    {
      "type": "text",
      "id": "atb_bgmopad",
      "label": "Vertical top padding mobile",
      "default": "80",
      "info": "integer, in px"
    },
    {
      "type": "text",
      "id": "atb_bgmopad_2",
      "label": "Vertical bottom padding mobile",
      "default": "80",
      "info": "integer, in px"
    },
    {
      "type": "paragraph",
      "content": "Background image",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_showbgimage_bg",
      "label": "Show background image",
      "default": false,
      "info": ""
    },
    {
      "type": "image_picker",
      "id": "atb_image_bg",
      "label": "Image",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_imagealign_bg",
      "label": "Image postion",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_imagesize_bg",
      "label": "Image size",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Full background size"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_usemiheight",
      "label": "Use minimal height",
      "default": false,
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_backgroundminheight3",
      "label": "Min height for big screen size",
      "default": "450",
      "info": "integer, in px"
    },
    {
      "type": "text",
      "id": "atb_backgroundminheight2",
      "label": "Min height for medium screen size",
      "default": "450",
      "info": "integer, in px"
    },
    {
      "type": "text",
      "id": "atb_backgroundminheight1",
      "label": "Min height for mobile screen size",
      "default": "200",
      "info": "integer, in px"
    }
  ],
  "warnings": []
}ATB-SCHEMA
{% endcomment %}


{%- include 'atb-render' field:'section_id' -%}
{%- assign section_id = val -%}
{%- include 'atb-render' field:'atb_top_offset' -%}
{%- assign atb_top_offset = val -%}
{%- include 'atb-render' field:'atb_fullwidth' -%}
{%- assign atb_fullwidth = val -%}
{%- include 'atb-render' field:'atb_lgsize' -%}
{%- assign atb_lgsize = val -%}
{%- include 'atb-render' field:'atb_mdsize' -%}
{%- assign atb_mdsize = val -%}
{%- include 'atb-render' field:'atb_allinleft' -%}
{%- assign atb_allinleft = val -%}
{%- include 'atb-render' field:'atb_text1' -%}
{%- assign atb_text1 = val -%}
{%- include 'atb-render' field:'atb_text2' -%}
{%- assign atb_text2 = val -%}
{%- include 'atb-render' field:'atb_subfplholder' -%}
{%- assign atb_subfplholder = val -%}
{%- include 'atb-render' field:'atb_subfbtext' -%}
{%- assign atb_subfbtext = val -%}
{%- include 'atb-render' field:'atb_text3' -%}
{%- assign atb_text3 = val -%}
{%- include 'atb-render' field:'atb_fontsizetext1' -%}
{%- assign atb_fontsizetext1 = val -%}
{%- include 'atb-render' field:'atb_lineheighttext1' -%}
{%- assign atb_lineheighttext1 = val -%}
{%- include 'atb-render' field:'atb_fontweighttext1' -%}
{%- assign atb_fontweighttext1 = val -%}
{%- include 'atb-render' field:'atb_text2offset' -%}
{%- assign atb_text2offset = val -%}
{%- include 'atb-render' field:'atb_fontsizetext2' -%}
{%- assign atb_fontsizetext2 = val -%}
{%- include 'atb-render' field:'atb_lineheighttext2' -%}
{%- assign atb_lineheighttext2 = val -%}
{%- include 'atb-render' field:'atb_fontweighttext2' -%}
{%- assign atb_fontweighttext2 = val -%}
{%- include 'atb-render' field:'atb_formoffset' -%}
{%- assign atb_formoffset = val -%}
{%- include 'atb-render' field:'atb_text3offset' -%}
{%- assign atb_text3offset = val -%}
{%- include 'atb-render' field:'atb_fontsizetext3' -%}
{%- assign atb_fontsizetext3 = val -%}
{%- include 'atb-render' field:'atb_lineheighttext3' -%}
{%- assign atb_lineheighttext3 = val -%}
{%- include 'atb-render' field:'atb_fontweighttext3' -%}
{%- assign atb_fontweighttext3 = val -%}
{%- include 'atb-render' field:'atb_fontsizetext1_mobile' -%}
{%- assign atb_fontsizetext1_mobile = val -%}
{%- include 'atb-render' field:'atb_lineheighttext1_mobile' -%}
{%- assign atb_lineheighttext1_mobile = val -%}
{%- include 'atb-render' field:'atb_text2offset_mobile' -%}
{%- assign atb_text2offset_mobile = val -%}
{%- include 'atb-render' field:'atb_fontsizetext2_mobile' -%}
{%- assign atb_fontsizetext2_mobile = val -%}
{%- include 'atb-render' field:'atb_lineheighttext2_mobile' -%}
{%- assign atb_lineheighttext2_mobile = val -%}
{%- include 'atb-render' field:'atb_formoffset_mobile' -%}
{%- assign atb_formoffset_mobile = val -%}
{%- include 'atb-render' field:'atb_text3offset_mobile' -%}
{%- assign atb_text3offset_mobile = val -%}
{%- include 'atb-render' field:'atb_fontsizetext3_mobile' -%}
{%- assign atb_fontsizetext3_mobile = val -%}
{%- include 'atb-render' field:'atb_lineheighttext3_mobile' -%}
{%- assign atb_lineheighttext3_mobile = val -%}
{%- include 'atb-render' field:'atb_colortext1' -%}
{%- assign atb_colortext1 = val -%}
{%- include 'atb-render' field:'atb_colortext2' -%}
{%- assign atb_colortext2 = val -%}
{%- include 'atb-render' field:'atb_colortext3' -%}
{%- assign atb_colortext3 = val -%}
{%- include 'atb-render' field:'atb_colorlink' -%}
{%- assign atb_colorlink = val -%}
{%- include 'atb-render' field:'atb_bg_form' -%}
{%- assign atb_bg_form = val -%}
{%- include 'atb-render' field:'atb_bg_form_bo' -%}
{%- assign atb_bg_form_bo = val -%}
{%- include 'atb-render' field:'atb_bg_form_bo_s' -%}
{%- assign atb_bg_form_bo_s = val -%}
{%- include 'atb-render' field:'atb_bg_form_text' -%}
{%- assign atb_bg_form_text = val -%}
{%- include 'atb-render' field:'atb_bg_forma' -%}
{%- assign atb_bg_forma = val -%}
{%- include 'atb-render' field:'atb_bg_form_boa' -%}
{%- assign atb_bg_form_boa = val -%}
{%- include 'atb-render' field:'atb_bg_form_bo_sa' -%}
{%- assign atb_bg_form_bo_sa = val -%}
{%- include 'atb-render' field:'atb_bg_form_texta' -%}
{%- assign atb_bg_form_texta = val -%}
{%- include 'atb-render' field:'atb_bg_color' -%}
{%- assign atb_bg_color = val -%}
{%- include 'atb-render' field:'atb_cbtntext' -%}
{%- assign atb_cbtntext = val -%}
{%- include 'atb-render' field:'atb_bg_color_a' -%}
{%- assign atb_bg_color_a = val -%}
{%- include 'atb-render' field:'atb_cbtntext_a' -%}
{%- assign atb_cbtntext_a = val -%}
{%- include 'atb-render' field:'atb_btn_custom_styles' -%}
{%- assign atb_btn_custom_styles = val -%}
{%- include 'atb-render' field:'atb_btn_custom_styles_hover' -%}
{%- assign atb_btn_custom_styles_hover = val -%}
{%- include 'atb-render' field:'atb_usebgcolor' -%}
{%- assign atb_usebgcolor = val -%}
{%- include 'atb-render' field:'atb_bgco' -%}
{%- assign atb_bgco = val -%}
{%- include 'atb-render' field:'atb_bgdepad' -%}
{%- assign atb_bgdepad = val -%}
{%- include 'atb-render' field:'atb_bgdepad_2' -%}
{%- assign atb_bgdepad_2 = val -%}
{%- include 'atb-render' field:'atb_bgmopad' -%}
{%- assign atb_bgmopad = val -%}
{%- include 'atb-render' field:'atb_bgmopad_2' -%}
{%- assign atb_bgmopad_2 = val -%}
{%- include 'atb-render' field:'undefined' -%}
{%- assign undefined = val -%}
{%- include 'atb-render' field:'atb_showbgimage_bg' -%}
{%- assign atb_showbgimage_bg = val -%}
{%- include 'atb-render' field:'atb_image_bg' -%}
{%- assign atb_image_bg = val -%}
{%- include 'atb-render' field:'atb_imagealign_bg' -%}
{%- assign atb_imagealign_bg = val -%}
{%- include 'atb-render' field:'atb_imagesize_bg' -%}
{%- assign atb_imagesize_bg = val -%}
{%- include 'atb-render' field:'atb_usemiheight' -%}
{%- assign atb_usemiheight = val -%}
{%- include 'atb-render' field:'atb_backgroundminheight3' -%}
{%- assign atb_backgroundminheight3 = val -%}
{%- include 'atb-render' field:'atb_backgroundminheight2' -%}
{%- assign atb_backgroundminheight2 = val -%}
{%- include 'atb-render' field:'atb_backgroundminheight1' -%}
{%- assign atb_backgroundminheight1 = val -%}
{%- if atb_fullwidth == blank -%}
{%- assign atb_fullwidth = false -%}
{%- else -%}
{%- assign atb_fullwidth = true -%}
{%- endif -%}
{%- if atb_allinleft == blank -%}
{%- assign atb_allinleft = false -%}
{%- else -%}
{%- assign atb_allinleft = true -%}
{%- endif -%}
{%- if atb_usebgcolor == blank -%}
{%- assign atb_usebgcolor = false -%}
{%- else -%}
{%- assign atb_usebgcolor = true -%}
{%- endif -%}
{%- if atb_showbgimage_bg == blank -%}
{%- assign atb_showbgimage_bg = false -%}
{%- else -%}
{%- assign atb_showbgimage_bg = true -%}
{%- endif -%}
{%- if atb_usemiheight == blank -%}
{%- assign atb_usemiheight = false -%}
{%- else -%}
{%- assign atb_usemiheight = true -%}
{%- endif -%}
{%- assign atb_lgsize = atb_lgsize | plus: 0 -%}
{%- assign atb_mdsize = atb_mdsize | plus: 0 -%}
{%- assign atb_fontsizetext1 = atb_fontsizetext1 | plus: 0 -%}
{%- assign atb_lineheighttext1 = atb_lineheighttext1 | plus: 0 -%}
{%- assign atb_fontweighttext1 = atb_fontweighttext1 | plus: 0 -%}
{%- assign atb_text2offset = atb_text2offset | plus: 0 -%}
{%- assign atb_fontsizetext2 = atb_fontsizetext2 | plus: 0 -%}
{%- assign atb_lineheighttext2 = atb_lineheighttext2 | plus: 0 -%}
{%- assign atb_fontweighttext2 = atb_fontweighttext2 | plus: 0 -%}
{%- assign atb_formoffset = atb_formoffset | plus: 0 -%}
{%- assign atb_text3offset = atb_text3offset | plus: 0 -%}
{%- assign atb_fontsizetext3 = atb_fontsizetext3 | plus: 0 -%}
{%- assign atb_lineheighttext3 = atb_lineheighttext3 | plus: 0 -%}
{%- assign atb_fontweighttext3 = atb_fontweighttext3 | plus: 0 -%}
{%- assign atb_fontsizetext1_mobile = atb_fontsizetext1_mobile | plus: 0 -%}
{%- assign atb_lineheighttext1_mobile = atb_lineheighttext1_mobile | plus: 0 -%}
{%- assign atb_text2offset_mobile = atb_text2offset_mobile | plus: 0 -%}
{%- assign atb_fontsizetext2_mobile = atb_fontsizetext2_mobile | plus: 0 -%}
{%- assign atb_lineheighttext2_mobile = atb_lineheighttext2_mobile | plus: 0 -%}
{%- assign atb_formoffset_mobile = atb_formoffset_mobile | plus: 0 -%}
{%- assign atb_text3offset_mobile = atb_text3offset_mobile | plus: 0 -%}
{%- assign atb_fontsizetext3_mobile = atb_fontsizetext3_mobile | plus: 0 -%}
{%- assign atb_lineheighttext3_mobile = atb_lineheighttext3_mobile | plus: 0 -%}
{%- assign atb_bg_form_bo_s = atb_bg_form_bo_s | plus: 0 -%}
{%- assign atb_bg_form_bo_sa = atb_bg_form_bo_sa | plus: 0 -%}
{%- assign atb_image_bg_key = atb_image_bg| split: '/files/' | last -%}{%- assign atb_image_bg = images[atb_image_bg_key] -%}{%- assign no_image = images['no_image_comparison'] -%}

<section id="shopify-section-{{section_id}}" class="shopify-section ">
{%- assign item = section.settings -%}

<div class="{% if item.top_offset == 'none' %}nomargin {% elsif item.top_offset == 'small' %}tt-offset-small {% endif %}container-indent subsection{{ section_id }}">
  {% if item.usebgcolor %}<div class="subsectionbg"{% if item.showbgimage_bg %} style="background-image: url({{ item.image_bg | img_url: '2048x' }});"{% endif %}>{% endif %}
  <div class="container{% if item.fullwidth %}-fluid-custom-mobile-padding container-fluid-custom{% endif %}">
    <div class="row justify-content-center">
      <div class="col-md-{{ item.mdsize }} col-lg-{{ item.lgsize }}">
        <div class="tt-layout-newsletter02{% if item.allinleft %} text-left{% endif %}">
          {% if item.text1 != "" %}<h5 class="tt-title">{{ item.text1 }}</h5>{% endif %}
          {% if item.text2 != "" %}<div class="tt-title-description">{{ item.text2 }}</div>{% endif %}

          <div class="form-default{% if item.allinleft %} text-left{% endif %}">
            {%- if settings.use_mailchimp_form -%}
            {%- if settings.mailchimp_form_action != "" -%}
            <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
              <div class="form-group">
                <input type="email" name="EMAIL" class="form-control"
                       value="{% if customer %}{{ customer.email }}{% endif %}"
                       placeholder="{{ item.subfplholder }}"
                       >
                <button type="submit" class="btn">{{ item.subfbtext }}</button>
              </div>
            </form>
            {%- else -%}
            <strong><u><a href="{{ shop.url }}/admin/themes" style="color: black;">
              Add newsletter redirect link in:<br>
              Customize Theme / General Settings / Newsletter / MailChimp form action URL
              </a></u></strong>
            {%- endif -%}

            {%- else -%}
            {%- form 'customer' -%}
            {{ form.errors | default_errors }}
            {%- if form.posted_successfully? -%}

            {%- endif -%}
            <div class="form-group">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email"
                     name="contact[email]"
                     class="form-control"
                     value="{% if customer %}{{ customer.email }}{% endif %}"
                     placeholder="{{ item.subfplholder }}"
                     autocomplete="off"
                     autocapitalize="off"
                     spellcheck="false" >
              <button type="submit" class="btn" name="commit">{{ item.subfbtext }}</button>
            </div>
            {%- endform -%}
            {%- endif -%}
          </div>

          {% if item.text3 != "" %}<p>{{ item.text3 }}</p>{% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if item.usebgcolor %}</div>{% endif %}
</div>

<style>
  .subsection{{ section_id }} .tt-layout-newsletter02 .tt-title {
    font-size: {{ item.fontsizetext1 }}px;
    line-height: {{ item.lineheighttext1 }}px;
    color: {{ item.colortext1 }};
    font-weight: {{ item.fontweighttext1 }};
  }
  .subsection{{ section_id }} .tt-layout-newsletter02 .tt-title-description {
    font-size: {{ item.fontsizetext2 }}px;
    line-height: {{ item.lineheighttext2 }}px;
    font-weight: {{ item.fontweighttext2 }};
    margin-top: {{ item.text2offset }}px;
    color: {{ item.colortext2 }};
  }
  .subsection{{ section_id }} .tt-layout-newsletter02 p {
    font-size: {{ item.fontsizetext3 }}px;
    line-height: {{ item.lineheighttext3 }}px;
    font-weight: {{ item.fontweighttext3 }};
    margin-top: {{ item.text3offset }}px;
    color: {{ item.colortext3 }};
  }
  .subsection{{ section_id }} .tt-layout-newsletter02 form {
    margin-top: {{ item.formoffset }}px;
  }
  @media (max-width: 575px) {
    .subsection{{ section_id }} .tt-layout-newsletter02 .tt-title {
      font-size: {{ item.fontsizetext1_mobile }}px;
      line-height: {{ item.lineheighttext1_mobile }}px;
    }
    .subsection{{ section_id }} .tt-layout-newsletter02 .tt-title-description {
      font-size: {{ item.fontsizetext2_mobile }}px;
      line-height: {{ item.lineheighttext2_mobile }}px;
      margin-top: {{ item.text2offset_mobile }}px;
    }
    .subsection{{ section_id }} .tt-layout-newsletter02 p {
      font-size: {{ item.fontsizetext3_mobile }}px;
      line-height: {{ item.lineheighttext3_mobile }}px;
      margin-top: {{ item.text3offset_mobile }}px;
    }
    .subsection{{ section_id }} .tt-layout-newsletter02 form {
      margin-top: {{ item.formoffset_mobile }}px;
    }
  }
  .subsection{{ section_id }} .tt-layout-newsletter02 form .form-group .form-control {
    background-color: {{ item.bg_form }};
    border: {{ item.bg_form_bo_s }}px solid {{ item.bg_form_bo }};
    color: {{ item.bg_form_text }};
  }
  .subsection{{ section_id }} .tt-layout-newsletter02 form .form-group .form-control:hover,
  .subsection{{ section_id }} .tt-layout-newsletter02 form .form-group .form-control:focus {
    background-color: {{ item.bg_forma }};
    border: {{ item.bg_form_bo_sa }}px solid {{ item.bg_form_boa }};
    color: {{ item.bg_form_texta }};
    padding-left: calc(15px - {{ item.bg_form_bo_s | times: -1 | plus: item.bg_form_bo_sa }}px);
  }
  .subsection{{ section_id }} .tt-layout-newsletter02 form .btn{
  	color: {{ item.cbtntext }};
    background: {{ item.bg_color }};
    {{ item.btn_custom_styles }}
  }
  .subsection{{ section_id }} .tt-layout-newsletter02 form .btn:hover{
  	color: {{ item.cbtntext_a }};
    background: {{ item.bg_color_a }};
    {{ item.btn_custom_styles_hover }}
  }
  .subsection{{ section_id }} .tt-layout-newsletter02 a {
    color: {{ item.colorlink }};
  }
  .subsection{{ section_id }} .form-default ::-webkit-input-placeholder {
    color: {{ item.bg_form_text }};
  }
  .subsection{{ section_id }} .form-default ::-moz-placeholder {
    color: {{ item.bg_form_text }};
  }
  .subsection{{ section_id }} .form-default :-moz-placeholder {
    color: {{ item.bg_form_text }};
  }
  .subsection{{ section_id }} .form-default :-ms-input-placeholder {
    color: {{ item.bg_form_text }};
  }
  .subsection{{ section_id }} .form-default .form-control:hover::-webkit-input-placeholder,
  .subsection{{ section_id }} .form-default .form-control:focus::-webkit-input-placeholder {
    color: {{ item.bg_form_texta }};
  }
  .subsection{{ section_id }} .form-default .form-control:hover::-moz-placeholder,
  .subsection{{ section_id }} .form-default .form-control:focus::-moz-placeholder {
    color: {{ item.bg_form_texta }};
  }
  .subsection{{ section_id }} .form-default .form-control:hover:-moz-placeholder,
  .subsection{{ section_id }} .form-default .form-control:focus:-moz-placeholder {
    color: {{ item.bg_form_texta }};
  }
  .subsection{{ section_id }} .form-default .form-control:hover:-ms-input-placeholder,
  .subsection{{ section_id }} .form-default .form-control:focus:-ms-input-placeholder {
    color: {{ item.bg_form_texta }};
  }
  .subsection{{ section_id }} .subsectionbg{
    background-color: {{ item.bgco }};
    background-repeat: no-repeat;
    background-size: {{ item.imagesize_bg }};
    background-position: {{ item.imagealign_bg }};
  }
  @media (min-width: 1025px){
    .subsection{{ section_id }} .subsectionbg{
      padding-top: {{ item.bgdepad }}px;
      padding-bottom: {{ item.bgdepad_2 }}px;
    }
  }
  @media (max-width: 1024px){
    .subsection{{ section_id }} .subsectionbg{
      padding-top: {{ item.bgmopad }}px;
      padding-bottom: {{ item.bgmopad_2 }}px;
    }
  }
  {% if item.usemiheight %}
  @media (min-width: 791px){
    .subsection{{ section_id }} > div > div > .row{
      align-items: center;
      min-height: {{ item.backgroundminheight2 }}px;
    }
  }
  @media (min-width: 1200px){
    .subsection{{ section_id }} > div > div > .row{
      align-items: center;
      min-height: {{ item.backgroundminheight3 }}px;
    }
  }
  @media (max-width: 790px){
    .subsection{{ section_id }} > div > div > .row{
      align-items: center;
      min-height: {{ item.backgroundminheight1 }}px;
    }
  }
  {% endif %}
</style>

</section>