{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_product-slider-dynamic">
			<!-- START Product Slider Dynamic REVOLUTION SLIDER 6.5.6.11 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery" style="visibility:hidden;background:#ffffff;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_2_1" style="" data-version="6.5.6.11">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-19" data-title="Best Seller" data-anim="ms:1000ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#21262d;" data-no-retina>
<!--						--><rs-zone id="rrzt_19" class="rev_row_zone_top" style="z-index: 19;"><!--

								--><rs-row
									id="slider-2-slide-19-layer-2" 
									data-type="row"
									data-xy="xo:50px;yo:50px;"
									data-vbility="t,t,t,f"
									data-cbreak="3"
									data-rsp_bd="off"
									data-margin="t:150,150,150,40;r:20;l:20;"
									data-frame_0="o:1;"
									data-frame_999="o:0;st:w;sR:8700;sA:5000;"
									style="z-index:1;"
								><!--
									--><rs-column
										id="slider-2-slide-19-layer-11" 
										data-type="column"
										data-xy="xo:50px;yo:50px;"
										data-text="a:right;"
										data-vbility="t,t,t,f"
										data-rsp_bd="off"
										data-column="w:50%;"
										data-frame_0="o:1;"
										data-frame_999="o:0;st:w;sR:8700;sA:5000;"
										style="z-index:2;width:100%;"
									><!--									--></rs-column><!--

									--><rs-column
										id="slider-2-slide-19-layer-3" 
										data-type="column"
										data-xy="xo:50px;yo:50px;"
										data-vbility="t,t,t,f"
										data-rsp_bd="off"
										data-column="w:50%;"
										data-margin="l:120,120,80,0;"
										data-frame_0="o:1;"
										data-frame_999="o:0;st:w;sR:8700;sA:5000;"
										style="z-index:3;width:100%;"
									><!--
										--><rs-layer
											id="slider-2-slide-19-layer-1" 
											data-type="text"
											data-color="#c9d1d9"
											data-rsp_ch="on"
											data-xy="xo:525px,471px,357px,220px;y:m;yo:-295px,-264px,-200px,-123px;"
											data-text="w:normal;s:80,71,53,35;l:80,71,53,35;ls:-1px,0px,0px,0px;"
											data-vbility="t,t,t,f"
											data-margin="t:-85,-76,-58,30;l:-170,-153,-116,0;"
											data-padding="b:25,22,17,10;l:30,27,21,0;"
											data-border="bor:0px,0,0px,20px;"
											data-frame_1="e:power4.inOut;sp:1000;"
											data-frame_1_sfx="se:blocktoright;"
											data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:8000;"
											data-frame_999_sfx="se:blocktoright;"
											style="z-index:4;background-color:#21262d;font-family:'Oswald';text-transform:uppercase;"
										>10.2" x 2 Yd <br />
Personal Roll 
										</rs-layer><!--

										--><rs-layer
											id="slider-2-slide-19-layer-6" 
											data-type="text"
											data-color="#0c0c0c"
											data-rsp_ch="on"
											data-xy="xo:50px,44px,33px,20px;yo:50px,44px,33px,20px;"
											data-text="w:normal;s:20,17,12,20;l:25,22,16,20;"
											data-vbility="t,t,t,f"
											data-margin="t:0,0,0,10;b:0,0,0,10;"
											data-frame_999="o:0;st:w;sR:8700;"
											style="z-index:5;font-family:'Roboto';"
										> 
										</rs-layer><!--

										--><rs-layer
											id="slider-2-slide-19-layer-7" 
											data-type="text"
											data-color="#c9d1d9"
											data-rsp_ch="on"
											data-xy="xo:50px,44px,33px,20px;yo:50px,44px,33px,20px;"
											data-text="w:normal;s:40,35,26,40;l:40,35,26,40;fw:300;"
											data-vbility="t,t,t,f"
											data-disp="inline-block"
											data-margin="t:30,27,21,13;b:35,31,24,15;"
											data-frame_0="sX:0.8;sY:0.8;"
											data-frame_1="e:power4.out;st:510;sp:1000;"
											data-frame_999="st:w;sp:500;sR:7990;auto:true;"
											style="z-index:6;font-family:'Oswald';display:inline-block;"
										>$21.95 
										</rs-layer><!--

										--><rs-layer
											id="slider-2-slide-19-layer-8" 
											data-type="text"
											data-color="#c9d1d9"
											data-rsp_ch="on"
											data-xy="xo:50px,44px,33px,20px;yo:50px,44px,33px,20px;"
											data-text="w:normal;s:14,12,13,15;l:25,22,20,22;"
											data-vbility="t,t,t,f"
											data-padding="r:50,45,34,21;"
											data-frame_0="y:50,44,33,20;"
											data-frame_1="sp:1000;"
											data-frame_999="y:-50,-44,-33,-20;o:0;st:w;sp:500;sR:8000;"
											style="z-index:7;font-family:'Roboto Condensed';"
										>This transparent tattoo aftercare bandage is completely waterproof yet breathable to ensure that the skin receives the airflow it needs to heal and remain sweat-free.<br />
<br />
Whether it’s your back, arm, or any part of your body, large or small, Saniderm has got you covered!<br />
· Contains 1 sealed, sterile 10.2 inch x 2 yd Saniderm wound care roll<br />
· Self-adhesive<br />
· Protects from bumps or accidental rubbing<br />
· Sealed in sterile packaging 
										</rs-layer><!--

										--><a
											id="slider-2-slide-19-layer-9" 
											class="rs-layer"
											href="https://www.saniderm.com/collections/all-products/products/saniderm-10-2-x-2-yard-personal-roll" target="_self" rel="nofollow"
											data-type="text"
											data-color="#21262d"
											data-rsp_ch="on"
											data-xy="xo:50px,44px,33px,20px;yo:50px,44px,33px,20px;"
											data-text="w:normal;s:25,22,16,25;l:25,22,16,25;ls:2px,1px,0px,0px;a:left,left,left,center;"
											data-dim="w:auto,auto,auto,100%;"
											data-vbility="t,t,t,f"
											data-disp="inline-block"
											data-margin="t:40,36,27,30;"
											data-padding="t:15,13,10,15;r:25,22,17,25;b:17,15,11,17;l:25,22,17,25;"
											data-border="bos:solid;boc:#58a6ff;bow:3px,3px,3px,3px;bor:35px,35px,35px,35px;"
											data-frame_1="e:power4.inOut;sp:1000;"
											data-frame_1_sfx="se:blocktoright;fxc:#e0e0e0;"
											data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:8000;"
											data-frame_999_sfx="se:blocktoright;fxc:#e0e0e0;"
											data-frame_hover="c:#c9d1d9;bgc:rgba(0,0,0,0);boc:#c9d1d9;bor:35px,35px,35px,35px;bos:solid;bow:3px,3px,3px,3px;sp:100ms;"
											style="z-index:8;background-color:#58a6ff;font-family:'Oswald';text-transform:uppercase;cursor:pointer;display:inline-block;"
										>Add to Cart 
										</a><!--
									--></rs-column><!--
								--></rs-row><!--

								--><rs-row
									id="slider-2-slide-19-layer-64" 
									data-type="row"
									data-xy="xo:50px;yo:50px;"
									data-vbility="f,f,f,t"
									data-cbreak="3"
									data-rsp_bd="off"
									data-margin="t:150,150,150,40;r:20;l:20;"
									data-frame_0="o:1;"
									data-frame_999="o:0;st:w;sR:8700;sA:5000;"
									style="z-index:9;"
								><!--
									--><rs-column
										id="slider-2-slide-19-layer-65" 
										data-type="column"
										data-xy="xo:50px;yo:50px;"
										data-text="a:right;"
										data-vbility="f,f,f,t"
										data-rsp_bd="off"
										data-column="w:50%;"
										data-frame_0="o:1;"
										data-frame_999="o:0;st:w;sR:8700;sA:5000;"
										style="z-index:10;width:100%;"
									><!--									--></rs-column><!--

									--><rs-column
										id="slider-2-slide-19-layer-66" 
										data-type="column"
										data-xy="xo:50px;yo:50px;"
										data-vbility="f,f,f,t"
										data-rsp_bd="off"
										data-column="w:50%;"
										data-margin="l:120,120,80,0;"
										data-frame_0="o:1;"
										data-frame_999="o:0;st:w;sR:8700;sA:5000;"
										style="z-index:11;width:100%;"
									><!--
										--><rs-layer
											id="slider-2-slide-19-layer-68" 
											data-type="text"
											data-color="#0c0c0c"
											data-rsp_ch="on"
											data-xy="xo:50px,44px,33px,20px;yo:50px,44px,33px,20px;"
											data-text="w:normal;s:20,17,12,20;l:25,22,16,20;"
											data-vbility="f,f,f,t"
											data-margin="t:0,0,0,10;b:0,0,0,10;"
											data-frame_999="o:0;st:w;sR:8700;"
											style="z-index:12;font-family:'Roboto';"
										> 
										</rs-layer><!--
									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--

							--><a
								id="slider-2-slide-19-layer-0" 
								class="rs-layer"
								href="https://www.saniderm.com/collections/all-products/products/saniderm-10-2-x-2-yard-personal-roll" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-34px,-30px,-22px,-13px;yo:352px,316px,240px,148px;"
								data-text="w:normal;s:20,17,12,7;l:0,22,16,9;"
								data-dim="w:607px,545px,414px,100%;h:232px,208px,158px,auto;"
								data-vbility="t,t,t,f"
								data-frame_1="e:power4.inOut;sp:1000;"
								data-frame_1_sfx="se:blocktoright;fxc:#e0e0e0;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:8000;"
								data-frame_999_sfx="se:blocktoright;fxc:#e0e0e0;"
								style="z-index:24;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0421/1779/1903/t/12/assets/fm_10.2x2-YD-ROLL_Transparent_3.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-2-slide-19-layer-10" 
								data-type="text"
								data-color="rgba(255, 255, 255, 0)"
								data-rsp_ch="on"
								data-xy="xo:-50px,21px,15px,26px;yo:46px,58px,44px,15px;"
								data-text="w:normal;s:130,100,75,46;l:120,107,81,47;ls:25px,40px,30px,18px;"
								data-tst="w:2px;c:#58a6ff;"
								data-vbility="t,t,t,f"
								data-frame_0="o:1;"
								data-frame_0_chars="d:5;o:0;rX:90deg;oZ:-50;"
								data-frame_1="sp:1000;"
								data-frame_1_chars="e:power4.inOut;d:10;oZ:-50;"
								data-frame_999="o:1;st:w;sp:500;"
								data-frame_999_chars="e:power4.inOut;d:10;y:0;o:0;rX:-90deg;oZ:-50;"
								style="z-index:27;font-family:'Oswald';text-transform:uppercase;"
							>BEST<br />
SELLER 
							</rs-layer><!--

							--><a
								id="slider-2-slide-19-layer-16" 
								class="rs-layer"
								href="https://www.saniderm.com/collections/all-products/products/saniderm-10-2-x-2-yard-personal-roll" target="_self" rel="nofollow"
								data-type="text"
								data-color="#c9d1d9||#c9d1d9||#c9d1d9||#58a6ff"
								data-rsp_ch="on"
								data-xy="x:l,l,l,r;xo:460px,413px,313px,20px;yo:769px,690px,524px,10px;"
								data-text="w:normal;s:16,14,10,14;l:25,22,16,25;fw:700;a:right;"
								data-vbility="t,t,t,f"
								data-padding="t:0,0,0,2;r:0,0,0,7;b:2;l:0,0,0,7;"
								data-border="bos:solid,solid,solid,none;boc:#c9d1d9;bow:0,0,2px,0;"
								data-frame_0="o:1;"
								data-frame_999="o:1;st:w;"
								data-frame_hover="c:#58a6ff;bgc:transparent;boc:#58a6ff;bos:solid;bow:0,0,2px,0;sp:100ms;"
								style="z-index:29;background-color:rgba(12,12,12,0);font-family:'Oswald';cursor:pointer;"
							>View Product Details 
							</a><!--

							--><a
								id="slider-2-slide-19-layer-61" 
								class="rs-layer"
								href="https://www.saniderm.com/collections/all-products/products/saniderm-10-2-x-2-yard-personal-roll" target="_self" rel="nofollow"
								data-type="text"
								data-color="#c9d1d9||#c9d1d9||#c9d1d9||#58a6ff"
								data-rsp_ch="on"
								data-xy="x:l,l,l,r;xo:460px,413px,313px,20px;yo:769px,690px,524px,10px;"
								data-text="w:normal;s:16,14,10,14;l:25,22,16,25;fw:700;a:right;"
								data-vbility="f,f,f,t"
								data-padding="t:0,0,0,2;r:0,0,0,7;b:2;l:0,0,0,7;"
								data-border="bos:solid,solid,solid,none;boc:#c9d1d9;bow:0,0,2px,0;"
								data-frame_0="o:1;"
								data-frame_999="o:1;st:w;"
								data-frame_hover="c:#58a6ff;bgc:transparent;boc:#58a6ff;bos:solid;bow:0,0,2px,0;sp:100ms;"
								style="z-index:28;background-color:rgba(12,12,12,0);font-family:'Oswald';cursor:pointer;"
							>View Product Details 
							</a><!--

							--><rs-layer
								id="slider-2-slide-19-layer-62" 
								data-type="text"
								data-color="rgba(255, 255, 255, 0)"
								data-rsp_ch="on"
								data-xy="xo:-50px,21px,15px,26px;yo:46px,58px,44px,15px;"
								data-text="w:normal;s:130,100,75,46;l:120,107,81,47;ls:25px,40px,30px,18px;"
								data-tst="w:2px;c:#58a6ff;"
								data-vbility="f,f,f,t"
								data-frame_0="o:1;"
								data-frame_0_chars="d:5;o:0;rX:90deg;oZ:-50;"
								data-frame_1="sp:1000;"
								data-frame_1_chars="e:power4.inOut;d:10;oZ:-50;"
								data-frame_999="o:1;st:w;sp:500;"
								data-frame_999_chars="e:power4.inOut;d:10;y:0;o:0;rX:-90deg;oZ:-50;"
								style="z-index:26;font-family:'Oswald';text-transform:uppercase;"
							>BEST<br />
SELLER 
							</rs-layer><!--

							--><a
								id="slider-2-slide-19-layer-63" 
								class="rs-layer"
								href="https://www.saniderm.com/collections/all-products/products/saniderm-10-2-x-2-yard-personal-roll" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-54px,-48px,-36px,14px;yo:347px,311px,236px,254px;"
								data-text="w:normal;s:20,17,12,7;l:0,22,16,9;"
								data-dim="w:638px,573px,435px,444px;h:244px,219px,166px,170px;"
								data-vbility="f,f,f,t"
								data-frame_1="e:power4.inOut;sp:1000;"
								data-frame_1_sfx="se:blocktoright;fxc:#e0e0e0;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:8000;"
								data-frame_999_sfx="se:blocktoright;fxc:#e0e0e0;"
								style="z-index:25;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0421/1779/1903/t/12/assets/fm_10.2x2-YD-ROLL_Transparent_3.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-2-slide-19-layer-67" 
								class="rs-layer"
								href="https://www.saniderm.com/collections/all-products/products/saniderm-10-2-x-2-yard-personal-roll" target="_self"
								data-type="text"
								data-color="#c9d1d9"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:525px,471px,357px,0;y:m,m,m,t;yo:-295px,-264px,-200px,150px;"
								data-text="w:normal;s:80,71,53,35;l:80,71,53,35;ls:-1px,0px,0px,0px;a:left,left,left,center;"
								data-vbility="f,f,f,t"
								data-padding="b:25,22,17,10;l:30,27,21,0;"
								data-border="bor:0px,0,0px,20px;"
								data-frame_1="e:power4.inOut;sp:1000;"
								data-frame_1_sfx="se:blocktoright;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:8000;"
								data-frame_999_sfx="se:blocktoright;"
								style="z-index:23;background-color:#21262d;font-family:'Oswald';text-transform:uppercase;"
							>10.2" x 2 Yd <br />
Personal Roll 
							</a><!--

							--><rs-layer
								id="slider-2-slide-19-layer-69" 
								data-type="text"
								data-color="#c9d1d9"
								data-rsp_ch="on"
								data-xy="xo:50px,44px,33px,181px;yo:50px,44px,33px,450px;"
								data-text="w:normal;s:40,35,26,40;l:40,35,26,40;fw:300;"
								data-vbility="f,f,f,t"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:510;sp:1000;"
								data-frame_999="st:w;sp:500;sR:7990;auto:true;"
								style="z-index:22;font-family:'Oswald';"
							>$21.95 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-19-layer-70" 
								data-type="text"
								data-color="#c9d1d9"
								data-rsp_ch="on"
								data-xy="xo:50px,44px,33px,42px;yo:50px,44px,33px,520px;"
								data-text="w:normal;s:14,12,13,15;l:25,22,20,22;"
								data-dim="w:auto,auto,auto,397px;"
								data-vbility="f,f,f,t"
								data-padding="r:50,45,34,21;"
								data-frame_0="y:50,44,33,20;"
								data-frame_1="sp:1000;"
								data-frame_999="y:-50,-44,-33,-20;o:0;st:w;sp:500;sR:8000;"
								style="z-index:21;font-family:'Roboto Condensed';"
							>This transparent tattoo aftercare bandage is completely waterproof yet breathable to ensure that the skin receives the airflow it needs to heal and remain sweat-free.<br />
<br />
Whether it’s your back, arm, or any part of your body, large or small, Saniderm has got you covered!<br />
· Contains 1 sealed, sterile 10.2 inch x 2 yd Saniderm wound care roll<br />
· Self-adhesive<br />
· Protects from bumps or accidental rubbing<br />
· Sealed in sterile packaging 
							</rs-layer><!--

							--><a
								id="slider-2-slide-19-layer-71" 
								class="rs-layer"
								href="https://www.saniderm.com/collections/all-products/products/saniderm-10-2-x-2-yard-personal-roll" target="_self" rel="nofollow"
								data-type="text"
								data-color="#21262d"
								data-rsp_ch="on"
								data-xy="xo:50px,44px,33px,0;yo:50px,44px,33px,805px;"
								data-text="w:normal;s:25,22,16,25;l:25,22,16,25;ls:2px,1px,0px,0px;a:left,left,left,center;"
								data-dim="w:auto,auto,auto,100%;"
								data-vbility="f,f,f,t"
								data-padding="t:15,13,10,15;r:25,22,17,25;b:17,15,11,17;l:25,22,17,25;"
								data-border="bos:solid;boc:#58a6ff;bow:3px,3px,3px,3px;bor:35px,35px,35px,35px;"
								data-frame_1="e:power4.inOut;sp:1000;"
								data-frame_1_sfx="se:blocktoright;fxc:#e0e0e0;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:8000;"
								data-frame_999_sfx="se:blocktoright;fxc:#e0e0e0;"
								data-frame_hover="c:#c9d1d9;bgc:rgba(0,0,0,0);boc:#c9d1d9;bor:35px,35px,35px,35px;bos:solid;bow:3px,3px,3px,3px;sp:100ms;"
								style="z-index:20;background-color:#58a6ff;font-family:'Oswald';text-transform:uppercase;cursor:pointer;"
							>Add to Cart 
							</a><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-18" data-title="New Release" data-anim="ms:1000ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#21262d;" data-no-retina>
<!--						--><rs-zone id="rrzt_18" class="rev_row_zone_top" style="z-index: 16;"><!--

								--><rs-row
									id="slider-2-slide-18-layer-2" 
									data-type="row"
									data-xy="xo:50px;yo:50px;"
									data-cbreak="3"
									data-rsp_bd="off"
									data-margin="t:150,150,150,40;r:20;l:20;"
									data-frame_0="o:1;"
									data-frame_999="o:0;st:w;sR:8700;sA:5000;"
									style="z-index:1;"
								><!--
									--><rs-column
										id="slider-2-slide-18-layer-11" 
										data-type="column"
										data-xy="xo:50px;yo:50px;"
										data-text="a:right;"
										data-rsp_bd="off"
										data-column="w:50%;"
										data-frame_0="o:1;"
										data-frame_999="o:0;st:w;sR:8700;sA:5000;"
										style="z-index:2;width:100%;"
									><!--
										--><rs-layer
											id="slider-2-slide-18-layer-0" 
											data-type="image"
											data-rsp_ch="on"
											data-xy="xo:20px,17px,12px,7px;y:m;"
											data-text="w:normal;s:20,17,12,7;l:0,22,16,9;"
											data-dim="w:600px,538px,408px,100%;h:600px,538px,408px,auto;"
											data-frame_1="e:power4.inOut;sp:1000;"
											data-frame_1_sfx="se:blocktoright;fxc:#e0e0e0;"
											data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:8000;"
											data-frame_999_sfx="se:blocktoright;fxc:#e0e0e0;"
											style="z-index:3;"
										><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0421/1779/1903/t/12/assets/shoes-store-product-1.jpg" data-no-retina> 
										</rs-layer><!--
									--></rs-column><!--

									--><rs-column
										id="slider-2-slide-18-layer-3" 
										data-type="column"
										data-xy="xo:50px;yo:50px;"
										data-rsp_bd="off"
										data-column="w:50%;"
										data-margin="l:120,120,80,0;"
										data-frame_0="o:1;"
										data-frame_999="o:0;st:w;sR:8700;sA:5000;"
										style="z-index:4;width:100%;"
									><!--
										--><rs-layer
											id="slider-2-slide-18-layer-1" 
											data-type="text"
											data-color="#c9d1d9"
											data-rsp_ch="on"
											data-xy="xo:525px,471px,357px,220px;y:m;yo:-295px,-264px,-200px,-123px;"
											data-text="w:normal;s:80,71,53,35;l:80,71,53,35;ls:-1px,0px,0px,0px;"
											data-margin="t:-85,-76,-58,30;l:-170,-153,-116,0;"
											data-padding="b:25,22,17,10;l:30,27,21,0;"
											data-border="bor:0px,0,0px,20px;"
											data-frame_1="e:power4.inOut;sp:1000;"
											data-frame_1_sfx="se:blocktoright;"
											data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:8000;"
											data-frame_999_sfx="se:blocktoright;"
											style="z-index:5;background-color:#21262d;font-family:'Oswald';text-transform:uppercase;"
										>{{title}} 
										</rs-layer><!--

										--><rs-layer
											id="slider-2-slide-18-layer-6" 
											data-type="text"
											data-color="#0c0c0c"
											data-rsp_ch="on"
											data-xy="xo:50px,44px,33px,20px;yo:50px,44px,33px,20px;"
											data-text="w:normal;s:20,17,12,20;l:25,22,16,20;"
											data-margin="t:0,0,0,10;b:0,0,0,10;"
											data-frame_999="o:0;st:w;sR:8700;"
											style="z-index:6;font-family:'Roboto';"
										> 
										</rs-layer><!--

										--><rs-layer
											id="slider-2-slide-18-layer-7" 
											data-type="text"
											data-color="#c9d1d9"
											data-rsp_ch="on"
											data-xy="xo:50px,44px,33px,20px;yo:50px,44px,33px,20px;"
											data-text="w:normal;s:40,35,26,40;l:40,35,26,40;fw:300;"
											data-disp="inline-block"
											data-margin="t:30,27,21,13;b:35,31,24,15;"
											data-frame_0="sX:0.8;sY:0.8;"
											data-frame_1="e:power4.out;st:510;sp:1000;"
											data-frame_999="st:w;sp:500;sR:7990;auto:true;"
											style="z-index:7;font-family:'Oswald';display:inline-block;"
										>{{price}} 
										</rs-layer><!--

										--><rs-layer
											id="slider-2-slide-18-layer-8" 
											data-type="text"
											data-color="#c9d1d9"
											data-rsp_ch="on"
											data-xy="xo:50px,44px,33px,20px;yo:50px,44px,33px,20px;"
											data-text="w:normal;s:14,12,13,15;l:25,22,20,22;"
											data-padding="r:50,45,34,21;"
											data-frame_0="y:50,44,33,20;"
											data-frame_1="sp:1000;"
											data-frame_999="y:-50,-44,-33,-20;o:0;st:w;sp:500;sR:8000;"
											style="z-index:8;font-family:'Roboto Condensed';"
										>{{excerpt}} 
										</rs-layer><!--

										--><a
											id="slider-2-slide-18-layer-9" 
											class="rs-layer"
											href="{{add_to_cart}}" target="_self" rel="nofollow"
											data-type="text"
											data-color="#21262d"
											data-rsp_ch="on"
											data-xy="xo:50px,44px,33px,20px;yo:50px,44px,33px,20px;"
											data-text="w:normal;s:25,22,16,25;l:25,22,16,25;ls:2px,1px,0px,0px;a:left,left,left,center;"
											data-dim="w:auto,auto,auto,100%;"
											data-disp="inline-block"
											data-margin="t:40,36,27,30;"
											data-padding="t:15,13,10,15;r:25,22,17,25;b:17,15,11,17;l:25,22,17,25;"
											data-border="bos:solid;boc:#58a6ff;bow:3px,3px,3px,3px;bor:35px,35px,35px,35px;"
											data-frame_1="e:power4.inOut;sp:1000;"
											data-frame_1_sfx="se:blocktoright;fxc:#e0e0e0;"
											data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:8000;"
											data-frame_999_sfx="se:blocktoright;fxc:#e0e0e0;"
											data-frame_hover="c:#c9d1d9;bgc:rgba(0,0,0,0);boc:#c9d1d9;bor:35px,35px,35px,35px;bos:solid;bow:3px,3px,3px,3px;sp:100ms;"
											style="z-index:9;background-color:#58a6ff;font-family:'Oswald';text-transform:uppercase;cursor:pointer;display:inline-block;"
										>Add to Cart 
										</a><!--
									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--

							--><rs-layer
								id="slider-2-slide-18-layer-10" 
								data-type="text"
								data-color="rgba(255, 255, 255, 0)"
								data-rsp_ch="on"
								data-xy="xo:-53px,21px,15px,26px;yo:97px,58px,44px,15px;"
								data-text="w:normal;s:130,100,75,46;l:100,89,67,47;ls:25px,40px,30px,18px;"
								data-tst="w:2px;c:#58a6ff;"
								data-frame_0="o:1;"
								data-frame_0_chars="d:5;o:0;rX:90deg;oZ:-50;"
								data-frame_1="sp:1000;"
								data-frame_1_chars="e:power4.inOut;d:10;oZ:-50;"
								data-frame_999="o:1;st:w;sp:500;"
								data-frame_999_chars="e:power4.inOut;d:10;y:0;o:0;rX:-90deg;oZ:-50;"
								style="z-index:17;font-family:'Oswald';text-transform:uppercase;"
							>NEW 
							</rs-layer><!--

							--><a
								id="slider-2-slide-18-layer-16" 
								class="rs-layer"
								href="{{link}}" target="_self" rel="nofollow"
								data-type="text"
								data-color="#c9d1d9||#c9d1d9||#c9d1d9||#58a6ff"
								data-rsp_ch="on"
								data-xy="x:l,l,l,r;xo:460px,413px,313px,20px;yo:769px,690px,524px,10px;"
								data-text="w:normal;s:16,14,10,14;l:25,22,16,25;fw:700;a:right;"
								data-padding="t:0,0,0,2;r:0,0,0,7;b:2;l:0,0,0,7;"
								data-border="bos:solid,solid,solid,none;boc:#c9d1d9;bow:0,0,2px,0;"
								data-frame_0="o:1;"
								data-frame_999="o:1;st:w;"
								data-frame_hover="c:#58a6ff;bgc:transparent;boc:#58a6ff;bos:solid;bow:0,0,2px,0;sp:100ms;"
								style="z-index:22;background-color:rgba(12,12,12,0);font-family:'Oswald';cursor:pointer;"
							>View Product Details 
							</a><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--

							--><rs-layer
								id="slider-2-slide-2-layer-4" 
								class="rs-layer-static"
								data-type="text"
								data-color="#21262d"
								data-rsp_ch="on"
								data-xy="x:l,l,l,r;xo:25px,117px,92px,0;y:m;yo:250px,224px,55px,-110px;"
								data-text="w:normal;s:30,26,19,25;l:100,89,67,60;a:center;"
								data-dim="w:100px,90px,68px,60px;h:100px,90px,68px,60px;"
								data-vbility="f,f,f,t"
								data-actions='o:click;a:jumptoslide;slide:next;'
								data-onslides="s:1;"
								data-border="bos:solid;boc:#58a6ff;bow:2px,2px,2px,2px;bor:100px,100px,100px,100px;"
								data-frame_999="o:0;st:w;"
								data-frame_hover="c:#c9d1d9;bgc:rgba(255,255,255,0);boc:#c9d1d9;bor:100px,100px,100px,100px;bos:solid;bow:2px,2px,2px,2px;sp:100ms;"
								style="z-index:9;background-color:#58a6ff;font-family:'Roboto';cursor:pointer;"
							><i class="fa-long-arrow-right"></i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-5" 
								class="rs-layer-static"
								data-type="text"
								data-color="#21262d"
								data-rsp_ch="on"
								data-xy="xo:-85px,20px,20px,0;y:m;yo:250px,224px,55px,-110px;"
								data-text="w:normal;s:30,26,19,25;l:100,89,67,60;a:center;"
								data-dim="w:100px,90px,68px,60px;h:100px,90px,68px,60px;"
								data-vbility="f,f,f,t"
								data-actions='o:click;a:jumptoslide;slide:previous;'
								data-onslides="s:1;"
								data-border="bos:solid;boc:#58a6ff;bow:2px,2px,2px,2px;bor:100px,100px,100px,100px;"
								data-frame_999="o:0;st:w;"
								data-frame_hover="c:#c9d1d9;bgc:rgba(255,255,255,0);boc:#c9d1d9;bor:100px,100px,100px,100px;bos:solid;bow:2px,2px,2px,2px;sp:100ms;"
								style="z-index:8;background-color:#58a6ff;font-family:'Roboto';cursor:pointer;"
							><i class="fa-long-arrow-left"></i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-17" 
								class="rs-layer-static"
								data-type="text"
								data-color="#21262d"
								data-rsp_ch="on"
								data-xy="x:l,l,l,r;xo:25px,117px,92px,0;y:m;yo:250px,224px,55px,-230px;"
								data-text="w:normal;s:30,26,19,25;l:100,89,67,60;a:center;"
								data-dim="w:100px,90px,68px,60px;h:100px,90px,68px,60px;"
								data-vbility="t,t,t,f"
								data-actions='o:click;a:jumptoslide;slide:next;'
								data-onslides="s:1;"
								data-border="bos:solid;boc:#58a6ff;bow:2px,2px,2px,2px;bor:100px,100px,100px,100px;"
								data-frame_999="o:0;st:w;"
								data-frame_hover="c:#c9d1d9;bgc:rgba(255,255,255,0);boc:#c9d1d9;bor:100px,100px,100px,100px;bos:solid;bow:2px,2px,2px,2px;sp:100ms;"
								style="z-index:11;background-color:#58a6ff;font-family:'Roboto';cursor:pointer;"
							><i class="fa-long-arrow-right"></i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-19" 
								class="rs-layer-static"
								data-type="text"
								data-color="#21262d"
								data-rsp_ch="on"
								data-xy="xo:-85px,20px,20px,0;y:m;yo:250px,224px,55px,-230px;"
								data-text="w:normal;s:30,26,19,25;l:100,89,67,60;a:center;"
								data-dim="w:100px,90px,68px,60px;h:100px,90px,68px,60px;"
								data-vbility="t,t,t,f"
								data-actions='o:click;a:jumptoslide;slide:previous;'
								data-onslides="s:1;"
								data-border="bos:solid;boc:#58a6ff;bow:2px,2px,2px,2px;bor:100px,100px,100px,100px;"
								data-frame_999="o:0;st:w;"
								data-frame_hover="c:#c9d1d9;bgc:rgba(255,255,255,0);boc:#c9d1d9;bor:100px,100px,100px,100px;bos:solid;bow:2px,2px,2px,2px;sp:100ms;"
								style="z-index:10;background-color:#58a6ff;font-family:'Roboto';cursor:pointer;"
							><i class="fa-long-arrow-left"></i> 
							</rs-layer><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_2_1',rl:[1240,1024,778,480],el:[900,768,960,950],gw:[1140,1024,778,480],gh:[900,768,960,950],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider21"]!==undefined) {window.RS_MODULES.modules["revslider21"].once = false;window.revapi2 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400%7COswald:400%2C300%2C700%7CRoboto+Condensed:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rs-starring{font-size:20px !important}.rs-starring .star-rating,.rs-starring .star-rating:before{color:#000 !important}.rs-layer .rs-starring .star-rating{color:#000 !important;  font-size:20px !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi2;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider21"] = {init:function() {
			window.revapi2 = window.revapi2===undefined || window.revapi2===null || window.revapi2.length===0  ? document.getElementById("rev_slider_2_1") : window.revapi2;
			if(window.revapi2 === null || window.revapi2 === undefined || window.revapi2.length==0) { window.revapi2initTry = window.revapi2initTry ===undefined ? 0 : window.revapi2initTry+1; if (window.revapi2initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider21"].init()}); return;}
			window.revapi2 = jQuery(window.revapi2);
			if(window.revapi2.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_2_1"); return;}
			revapi2.revolutionInit({
					revapi:"revapi2",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"5000ms",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61f9620e49ec7",
					gridwidth:"1140,1024,778,480",
					gridheight:"900,768,960,950",
					startDelay:"0ms",
					lazyType:"smart",
					spinner:"spinner6",
					perspective:600,
					perspectiveType:"local",
					spinnerclr:"#0c0c0c",
					editorheight:"900,768,960,950",
					responsiveLevels:"1240,1024,778,480",
					stopAtSlide:1,
					stopAfterLoops:0,
					stopLoop:true,
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_product-slider-dynamic" ).after( "<div id='revslider_show_product-slider-dynamic'></div>" );
                            jQuery( "#revslider_drag_product-slider-dynamic" ).hide();
                            jQuery("#revslider_foot_product-slider-dynamic").appendTo("#revslider_show_product-slider-dynamic");
                            jQuery("#revslider_show_product-slider-dynamic .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>